.accordion {
    background-color: #CFD8DC;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}


.accordion:after {
    content: '\002B';
    color: rgb(243, 108, 108);
  font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


.panel {
    padding: 0 16px;
    font-size: 18px;
    width: 48%;
  color: #212121;
    background-color: rgb(235, 97, 97);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

